#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "flood"
name = "Flood"
description.en = "Monitoring service for various torrent clients"
description.fr = "Service de surveillance pour divers clients torrent"

version = "4.11.0~ynh1"

maintainers = ["Taker"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://flood.js.org/"
admindoc = "https://github.com/jesec/flood/wiki"
code = "https://github.com/jesec/flood"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = [ "amd64", "arm64" ]
multi_instance = false

ldap = false
sso = false

disk = "200M"
ram.build = "150M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/flood"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        rename = "flood-linux.deb"
        arm64.url = "https://github.com/jesec/flood/releases/download/v4.11.0/flood-linux-arm64.deb"
        arm64.sha256 = "a20cd87d4b19c666612f5320c8e79e2de5821b040d58fa14a5a70c4eb5026c9f"
        amd64.url = "https://github.com/jesec/flood/releases/download/v4.11.0/flood-linux-x64.deb"
        amd64.sha256 = "88be90b3e445db55a1580692a702e22bd41daa3fc32acf65ac6e4797205d52d2"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.arm64 = "flood-linux-arm64.deb"
        autoupdate.asset.amd64 = "flood-linux-x64.deb"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = [".session", "watch", "torrent"]

    [resources.ports]
    main.default = 8095
    scgi.default = 8096
    rt.default = 45069
    rt.exposed = "TCP"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "rtorrent, screen"
