#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "flood"
name = "Flood"
description.en = "Monitoring service for various torrent clients"
description.fr = "Service de surveillance pour divers clients torrent"

version = "4.13.0~ynh1"

maintainers = ["Taker"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://flood.js.org/"
admindoc = "https://github.com/jesec/flood/wiki"
code = "https://github.com/jesec/flood"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = [ "amd64", "arm64" ]
multi_instance = false

ldap = false
sso = false

disk = "200M"
ram.build = "150M"
ram.runtime = "100M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/flood"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        rename = "flood-linux.deb"
        arm64.url = "https://github.com/jesec/flood/releases/download/v4.13.0/flood-linux-arm64.deb"
        arm64.sha256 = "3ec59e338d34f1a6f504f7b3fd14ddde8bba44cb1d573987fe23076ac7a0a4f5"
        amd64.url = "https://github.com/jesec/flood/releases/download/v4.13.0/flood-linux-x64.deb"
        amd64.sha256 = "151aac08cdc3aa62a56baecfd6597d99dda84d6818d17f78142955ed4fea0a71"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.arm64 = "flood-linux-arm64.deb"
        autoupdate.asset.amd64 = "flood-linux-x64.deb"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = [".session", "watch", "torrent"]

    [resources.ports]
    main.default = 8095
    scgi.default = 8096
    rt.default = 45069
    rt.exposed = "TCP"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "rtorrent, screen"
