[Unit]
Description=Flood: rTorrent Web UI
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=/usr/bin/flood --rundir="__INSTALL_DIR__/" --baseuri="__PATH__" --port=__PORT__ --rthost="127.0.0.1" --rtport="__PORT_SCGI__" --allowedpath="__DATA_DIR__" --auth="none"

[Install]
WantedBy=multi-user.target
